.dash-container {
  border: 1px solid hsla(0, 0%, 86.7%, 0.87);
  border-radius: 3px;
}

.dash-parent {
  color: #555555;
  border: 1px solid #454545;
}
.dash-container > h4 {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 10px 0 10px 14px;
}
.dash-container > h5 {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  padding: 10px 0 10px 14px;
}

.table td {
  border: 1px solid #dee2e6 !important;
}

.table thead th {
  white-space: nowrap !important;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  border: 1px solid #dee2e6;
  width: 160px !important;
}

tbody tr,
thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table thead {
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
}
